.nav{
z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(38, 230, 255, 0);
  padding: 1%;
}
.nav-list{
  display: flex;
  align-items: center;
  gap: 30px;

}
.nav-input{
  height: 30px;
  border-radius: 25px;
 
}
.nav-input::placeholder{
  text-align: center;
}
.desti{
  text-align: center;
  margin: 2%;
}
.title{
  color: transparent;
  font-size: 200px;
  font-weight: bold;
  -webkit-background-clip: text;
  background-image: url("https://img.freepik.com/free-vector/gradient-summer-background-videocalls_52683-61337.jpg");

}
.cards{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}